<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body class="weather_body">
    <div id="weather_intro">
        
        <h1>Please enter a city to get started.</h1>
        <form action="/weather" method="GET">
            <input type="text" name="city" placeholder="City Name" required>
            <button type="submit">Get Weather</button>
        </form>
        <div id="weather-info">
            
        </div>
    </div>
    
</body>
</html>