:root {
    --primary-color: #0A100D;
    --secondary-color: #B9BAA3;
    --tertiary-color: #D6D5C9;
    --accent1-color: #A22C29;
    --accent2-color: #4e0b08;

}

/* --------------Global Styles--------------- */
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

header,
footer {
    background-color: var(--secondary-color);
}

main {
    background-color: var(--tertiary-color);
    
}

p {
    color: var(--accent1-color);
    font-family: "Titillium Web", sans-serif;
    line-height: 2em;
}

h1,
h3 {
    color: var(--accent2-color);
    font-family: "Nunito";
}

/* ------------Header Styles--------- */
header {
    display: flex;
    height: 5em;
    justify-content: center;
    align-items: center;
}
