:root {
    --primary-color: #0A100D;
    --secondary-color: #B9BAA3;
    --tertiary-color: #D6D5C9;
    --accent1-color: #A22C29;
    --accent2-color: #4e0b08;

}

/* --------------Global Styles--------------- */
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

header,
footer {
    background-color: var(--secondary-color);
    font-family: "Titillium Web", sans-serif;
}

main {
    background-color: var(--tertiary-color);
    font-family: "Nunito";

}

p {
    color: var(--accent1-color);
}

h1, h3 {
    color: var(--accent2-color);
}

/* -----------Navigation Styles ------------ */